{% extends 'layouts/base.html' %}

{% block content %}
    <div class="login mt-0">
        <div class="login-screen">
            <div class="app-title">
                <h1 class="headline">Спожите :</h1>
            </div>
            <form method="POST" action="" class="login-form">
              {% csrf_token %}
              <h5 class="form-labels">
                {{ form.as_p }}
            </h5>
                <input class="btn login_btn pt-2" type="submit" value="select">
            </form>
        </div>
    </div>
    <div class="container-fluid">
 <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Назва</th>
                    <th scope="col">Калорійність</th>
                    <th scope="col">Кількість</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_items %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.calorie }}</td>
                    <td>{{ food.quantity }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>  
     </div>
    </div>

{% endblock content %}